extends layout.pug


block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="/") Tanto
            p.navbar-text
                b=model.title

    div.container-fluid.container-search
        h3 Info
        
